################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dll_messagebox/.vs/dll_messagebox
/local_dll_injection/.vs/local_dll_injection
